<div class="background">
    <div class="container">
        <form [formGroup]="forgotPasswordForm" class="login-form">
            <div class="form-group mb-3 row">
                <label for="email" class="col-sm-2 col-form-label form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" formControlName="email">
                </div>
            </div>
            <div class="form-buttons">
                <button type="button" class="btn btn-primary" (click)="forgotPassword()" [disabled]="!forgotPasswordForm.valid">Verify</button>
            </div>
        </form>
    </div>
</div>
